body,html{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

ul.user-list{
    list-style: none;
}

ul.tasklist{
    list-style: none;
}
li.task-element{
    display: flex;
    flex-direction: row;
}
p.task-name, p.task-progress{
    padding-right: 20px;
}
button.task-delete{
    align-self: center;
    height: 25px;
    width: 25px;
}
th{
    border: solid green;
}
th, td{
    padding: 10px;
}
td{
    text-align: center;
}

div.header{
    display: flex;
    flex-direction: row;
}
a.disconnect{
    color: red;
    padding-bottom: 20px;
}