body,html{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

ul.user-list{
    list-style: none;
}
ul.tasklist{
    list-style: none;
}
li.task-element{
    display: flex;
    flex-direction: row;
}